<p class="notice">
  <%= notice %>
</p>

 <p>
 <Strong>Title: </Strong><%= @book.title %>
 </p>

 <p>
 <strong>Body: </strong><%= @book.body %>
 </p>

 <%= link_to "Edit", edit_book_path(@book), class: "link" %>
 <span> | </span>
 <%= link_to "Back", books_path, class: "link" %>